<a href="https://colab.research.google.com/github/bathicodes/EXPERIMENTS/blob/main/Experiment_Multicollinearity_for_regression_50_Startups_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
dataset = pd.read_csv("50_Startups.csv")
X = dataset.iloc[:,:-2]
y = dataset.iloc[:,-1]

In [70]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [71]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

print(f"Training score: {regressor.score(X_train, y_train)}")
print(f"Test score: {regressor.score(X_test, y_test)}")

Training score: 0.9499572530324031
Test score: 0.9393955917820569

In [72]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate(datasets):
  vif = pd.DataFrame()
  vif["features"] = datasets.columns
  vif["VIF_Value"] = [variance_inflation_factor(datasets.values, i) for i in range(datasets.shape[1])]
  return(vif)

In [73]:
calculate(X)

          features  VIF_Value
0        R&D Spend   8.384571
1   Administration   4.026406
2  Marketing Spend   7.593984

In [74]:
dataset.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [75]:
dataset = dataset.drop(["Marketing Spend"],axis=1)
X = dataset.iloc[:,:-2]
print(X.head())
calculate(X)

   R&D Spend  Administration
0  165349.20       136897.80
1  162597.70       151377.59
2  153441.51       101145.55
3  144372.41       118671.85
4  142107.34        91391.77

         features  VIF_Value
0       R&D Spend   3.794297
1  Administration   3.794297

In [76]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [77]:
print(f"Training score: {regressor.score(X_train, y_train)}")
print(f"Test score: {regressor.score(X_test, y_test)}")

Training score: 0.9499572530324031
Test score: 0.9393955917820569

In [78]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(y_test)

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64